# directories
/bin
/CMakeFiles
.svn
/vendor/cryptopp/CMakeFiles
/vendor/googletest/CMakeFiles
/vendor/jsoncpp/CMakeFiles
/vendor/jsoncpp/InstallFiles
/vendor/jsoncpp/JsonCppConfig.cmake
/vendor/jsoncpp/cmake/CMakeFiles
/vendor/jsoncpp/include/CMakeFiles
/vendor/jsoncpp/src/CMakeFiles
/vendor/jsoncpp/src/lib_json/CMakeFiles
/vendor/boost_1_53_0/bin.v2/
/vendor/boost_1_53_0/libs/

# Boost 
/vendor/boost_1_53_0/b2
/vendor/boost_1_53_0/bjam
/vendor/boost_1_53_0/bootstrap.log

# Build files
CMakeCache.txt
cmake_install.cmake

*.Po

# Generated Makefile
Makefile

# output files
*.o

# swapfiles
*.swp
*.swo

# libs
*.a
*.so

# other
*.pyc # generated during the build process
CMakefiles
