# directories
/bin
/CMakeFiles
.svn
third_party/googletest/CMakeFiles

# Build files
CMakeCache.txt
cmake_install.cmake

*.Po

# Generated Makefile
Makefile

# output files
*.o

# swapfiles
*.swp
*.swo

# libs
*.a


