# directories
/bin
/CMakeFiles
.svn
/vendor/cryptopp/CMakeFiles
/vendor/googletest/CMakeFiles
/vendor/jsoncpp/CMakeFiles
/vendor/jsoncpp/InstallFiles
/vendor/jsoncpp/JsonCppConfig.cmake
/vendor/jsoncpp/cmake/CMakeFiles
/vendor/jsoncpp/include/CMakeFiles
/vendor/jsoncpp/src/CMakeFiles
/vendor/jsoncpp/src/lib_json/CMakeFiles


# Build files
CMakeCache.txt
cmake_install.cmake

*.Po

# Generated Makefile
Makefile

# output files
*.o

# swapfiles
*.swp
*.swo

# libs
*.a
*.so

# other
*.pyc # generated during the build process
CMakefiles
build
